/*menu 1 title font: 
https://fonts.google.com/specimen/Devonshire?query=devonshire
https://www.fontzillion.com/fonts/studio-typo/typo-comics-demo?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=typocomicsdemo  (bold demp regular)
https://www.fontzillion.com/fonts/fontpanda/lara-prints?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=laraprints

menu 2 title font:
https://www.fontsquirrel.com/fonts/croissant-one?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=croissantone
https://www.fontsquirrel.com/fonts/el-messiri?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=elmessiri (el messiri bold)
https://www.fontzillion.com/fonts/arkandis-digital-foundry/aurelis-adf-no2-std?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=aurelisadfno2std  (Aurelis ADF No2 Std Bold)
 
menu 3 title font:
https://fonts.google.com/specimen/Dancing+Script

menu 4 title font:

*/
@font-face {
  font-family: 'missySharpieItalic';
  src: url("../fonts/missy-sharpie-italic.ttf"); }

@font-face {
  font-family: 'DevonshireRegular';
  src: url("../fonts/Devonshire-Regular.ttf"); }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

@keyframes ellipsis-animation {
  to {
    width: 1.2em; } }

@keyframes wiggle-animation {
  0% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(-2deg); }
  60% {
    transform: rotate(0deg); }
  90% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(1deg); } }

#main_wrapper, .menus_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; }
  #main_wrapper header, .menus_wrapper header {
    background-color: #579C87;
    display: flex;
    height: 100px;
    width: 100%; }
    #main_wrapper header img, .menus_wrapper header img {
      height: 50px;
      margin: auto; }
    #main_wrapper header a, .menus_wrapper header a {
      margin: auto; }
  #main_wrapper footer, .menus_wrapper footer {
    z-index: 10;
    background-color: #579C87;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100px px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; }
    #main_wrapper footer .ml, .menus_wrapper footer .ml {
      color: #FDCB46;
      position: relative; }
      #main_wrapper footer .ml:hover, .menus_wrapper footer .ml:hover {
        animation-name: wiggle-animation;
        animation-fill-mode: both;
        animation-duration: 300ms;
        animation-iteration-count: infinite; }
      #main_wrapper footer .ml a, .menus_wrapper footer .ml a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
        z-index: 15; }
    #main_wrapper footer .contact, .menus_wrapper footer .contact {
      color: #FDCB46; }
      #main_wrapper footer .contact:hover, .menus_wrapper footer .contact:hover {
        animation-name: wiggle-animation;
        animation-fill-mode: both;
        animation-duration: 300ms;
        animation-iteration-count: infinite; }

.menus_wrapper .menuTitle {
  margin: auto; }
  .menus_wrapper .menuTitle h1 {
    margin: 50px 0 20px 0; }

.menus_wrapper main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .menus_wrapper main .ending {
    width: 100%;
    margin: 40px 0 0 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .menus_wrapper main .ending img {
      width: 38px;
      height: 38px;
      margin-right: 5px; }

.menus_wrapper .containerMenu {
  max-width: 520px;
  min-height: 970px;
  padding: 0 65px 0 65px;
  margin-bottom: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px grey; }
  @media screen and (max-width: 768px) {
    .menus_wrapper .containerMenu {
      max-width: 520px;
      min-height: 970px;
      padding: 0 60px 0 60px;
      margin-top: 0;
      margin-right: 8%;
      margin-bottom: 90px;
      margin-left: 8%; } }
  @media screen and (max-width: 520px) {
    .menus_wrapper .containerMenu {
      max-width: 400px;
      min-height: 970px;
      padding: 0 50px 0 50px;
      margin-top: 0;
      margin-right: 5%;
      margin-bottom: 90px;
      margin-left: 5%; } }
  .menus_wrapper .containerMenu--menu-variant1 {
    justify-content: flex-end; }
  .menus_wrapper .containerMenu > img {
    padding-top: 60px;
    width: 60px;
    height: 60px;
    margin: 0; }
  .menus_wrapper .containerMenu > h2 {
    margin: 10px 0 10px 0; }
  .menus_wrapper .containerMenu article {
    width: 100%; }
    .menus_wrapper .containerMenu article .articleTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .menus_wrapper .containerMenu article img {
      margin: 40px 0px 10px 0px;
      display: inline-block;
      vertical-align: middle;
      max-width: 35%;
      max-height: 35%; }
      @media screen and (max-width: 768px) {
        .menus_wrapper .containerMenu article img {
          max-width: 30%;
          max-height: 30%; } }
      @media screen and (max-width: 520px) {
        .menus_wrapper .containerMenu article img {
          max-width: 28%;
          max-height: 28%; } }
    .menus_wrapper .containerMenu article h3 {
      margin: 40px 0px 10px 0px;
      position: relative;
      text-align: center; }
      .menus_wrapper .containerMenu article h3::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid black;
        transform: scale(0);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        transition-property: transform;
        transform-origin: bottom right; }
      .menus_wrapper .containerMenu article h3:hover::after {
        transform: scale(1);
        transform-origin: bottom left; }
    .menus_wrapper .containerMenu article ul {
      padding: 0;
      margin: 0; }
      .menus_wrapper .containerMenu article ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center; }
        @media screen and (max-width: 768px) {
          .menus_wrapper .containerMenu article ul li {
            text-align: center; } }
        @media screen and (max-width: 520px) {
          .menus_wrapper .containerMenu article ul li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; } }
.typo__select-menu {
  font-size: medium;
  color: black;
  font-style: normal;
  text-align: center; }
  .typo__select-menu--menu1 h3 {
    font-family: "DevonshireRegular",Arial,sans-serif;
    font-size: 2em; }
  .typo__select-menu--menu1 h2 {
    font-size: 2em;
    text-transform: uppercase;
    margin: 5px 0 5px 0; }

#main_wrapper main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto; }
  #main_wrapper main .containerGrid {
    width: 750px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      #main_wrapper main .containerGrid {
        width: 625px; } }
    @media screen and (max-width: 520px) {
      #main_wrapper main .containerGrid {
        width: 240px; } }
    #main_wrapper main .containerGrid__menu {
      display: flex;
      border: 1px solid black;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px #9E9E9E; }
      #main_wrapper main .containerGrid__menu a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
        z-index: 5; }
        #main_wrapper main .containerGrid__menu a ~ * {
          transition-duration: 330ms;
          transition-timing-function: ease-in;
          transition-property: all;
          transform: scale(1);
          opacity: 1; }
        #main_wrapper main .containerGrid__menu a:hover ~ * {
          transform: scale(1.13);
          opacity: 0.70; }
      #main_wrapper main .containerGrid__menu--note {
        background-color: #FCDFDB;
        width: 300px;
        height: 400px;
        margin: 30px; }
        #main_wrapper main .containerGrid__menu--note img {
          width: 45px;
          height: 45px; }
        @media screen and (max-width: 768px) {
          #main_wrapper main .containerGrid__menu--note {
            width: 250px;
            height: 333px;
            margin: 25px; } }
        @media screen and (max-width: 520px) {
          #main_wrapper main .containerGrid__menu--note {
            width: 200px;
            height: 266px;
            margin: 20px; } }
      #main_wrapper main .containerGrid__menu--chic {
        background-color: #F48FB1;
        width: 300px;
        height: 400px;
        margin: 30px; }
        @media screen and (max-width: 768px) {
          #main_wrapper main .containerGrid__menu--chic {
            width: 250px;
            height: 333px;
            margin: 25px; } }
        @media screen and (max-width: 520px) {
          #main_wrapper main .containerGrid__menu--chic {
            width: 200px;
            height: 266px;
            margin: 20px; } }
      #main_wrapper main .containerGrid__menu--delice {
        background-color: #90CAF9;
        width: 300px;
        height: 400px;
        margin: 30px; }
        @media screen and (max-width: 768px) {
          #main_wrapper main .containerGrid__menu--delice {
            width: 250px;
            height: 333px;
            margin: 25px; } }
        @media screen and (max-width: 520px) {
          #main_wrapper main .containerGrid__menu--delice {
            width: 200px;
            height: 266px;
            margin: 20px; } }
      #main_wrapper main .containerGrid__menu--palette {
        background-color: #A5D6A7;
        width: 300px;
        height: 400px;
        margin: 30px; }
        @media screen and (max-width: 768px) {
          #main_wrapper main .containerGrid__menu--palette {
            width: 250px;
            height: 333px;
            margin: 25px; } }
        @media screen and (max-width: 520px) {
          #main_wrapper main .containerGrid__menu--palette {
            width: 200px;
            height: 266px;
            margin: 20px; } }
#main_wrapper .containerSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 15%;
  margin-bottom: 90px; }
  #main_wrapper .containerSoon .prochainement {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #FDCB46;
    text-align: center;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: #579C87; }
    #main_wrapper .containerSoon .prochainement p {
      margin: 0 0 0 45px;
      padding: 0; }
    #main_wrapper .containerSoon .prochainement p::after {
      display: inline-block;
      content: "\2026";
      margin: 0 0 0 50px 0;
      padding: 0;
      overflow: hidden;
      vertical-align: bottom;
      width: 0px;
      animation-name: ellipsis-animation;
      animation-duration: 2000ms;
      animation-timing-function: steps(4, end);
      animation-iteration-count: infinite; }

.containerMenu--bg1 {
  background-color: #FCDFDB; }

.containerMenu--bg2 {
  background-color: #F48FB1; }

.containerMenu--bg3 {
  background-color: #90CAF9; }

.containerMenu--bg4 {
  background-color: #A5D6A7; }
