@font-face {
  font-family: 'Devonshire-Regular';
  src: url("../fonts/Devonshire-Regular.ttf"); }

@font-face {
  font-family: 'segoe-print';
  src: url("../fonts/segoeprb.ttf"); }

@font-face {
  font-family: 'CroissantOne-Regular';
  src: url("../fonts/CroissantOne-Regular.ttf"); }

@font-face {
  font-family: 'CasusPro-Bold';
  src: url("../fonts/CasusPro-Bold.ttf"); }

@font-face {
  font-family: 'DancingScript-Regular';
  src: url("../fonts/DancingScript-Regular.ttf"); }

@font-face {
  font-family: 'KaushanScript-Regular';
  src: url("../fonts/KaushanScript-Regular.ttf"); }

@font-face {
  font-family: 'PatriciaGothic-SemiBold';
  src: url(../fonts/PatriciaGothic-SemiBold.otf); }

@font-face {
  font-family: 'MYingHei-PRCW48W7';
  src: url(../fonts/MYingHei-PRCW48W7.ttf); }

@font-face {
  font-family: 'Stem-Regular';
  src: url(../fonts/Stem-Regular.ttf); }

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

@keyframes ellipsis-animation {
  to {
    width: 1.2em; } }

@keyframes wiggle-animation {
  0% {
    transform: rotate(0deg); }
  30% {
    transform: rotate(-2deg); }
  60% {
    transform: rotate(0deg); }
  90% {
    transform: rotate(2deg); }
  100% {
    transform: rotate(1deg); } }

#main_wrapper, .menus_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto; }
  #main_wrapper header, .menus_wrapper header {
    background-color: #579C87;
    display: flex;
    height: 100px;
    width: 100%; }
    #main_wrapper header img, .menus_wrapper header img {
      height: 50px;
      margin: auto; }
    #main_wrapper header a, .menus_wrapper header a {
      margin: auto; }
  #main_wrapper footer, .menus_wrapper footer {
    z-index: 10;
    background-color: #579C87;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 75px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%; }
    #main_wrapper footer .ml, .menus_wrapper footer .ml {
      position: relative; }
      #main_wrapper footer .ml:hover, .menus_wrapper footer .ml:hover {
        animation-name: wiggle-animation;
        animation-fill-mode: both;
        animation-duration: 300ms;
        animation-iteration-count: infinite; }
      #main_wrapper footer .ml a, .menus_wrapper footer .ml a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
        z-index: 15; }
    #main_wrapper footer .contact:hover, .menus_wrapper footer .contact:hover {
      animation-name: wiggle-animation;
      animation-fill-mode: both;
      animation-duration: 300ms;
      animation-iteration-count: infinite; }

.menus_wrapper .menuTitle {
  margin: auto; }
  .menus_wrapper .menuTitle h1 {
    margin: 50px 0 25px 0; }

.menus_wrapper main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .menus_wrapper main .ending {
    width: 100%;
    margin: 30px 0 30px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
    .menus_wrapper main .ending img {
      width: 38px;
      height: 38px;
      margin-right: 5px; }

.menus_wrapper .containerMenu {
  max-width: 600px;
  min-height: 1100px;
  padding: 0 65px 0 65px;
  margin-bottom: 90px;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 0 20px grey; }
  @media screen and (max-width: 768px) {
    .menus_wrapper .containerMenu {
      max-width: 520px;
      min-height: 970px;
      padding: 0 60px 0 60px;
      margin-top: 0;
      margin-right: 8%;
      margin-bottom: 90px;
      margin-left: 8%; } }
  @media screen and (max-width: 520px) {
    .menus_wrapper .containerMenu {
      max-width: 400px;
      min-height: 970px;
      padding: 0 50px 0 50px;
      margin-top: 0;
      margin-right: 5%;
      margin-bottom: 90px;
      margin-left: 5%; } }
  .menus_wrapper .containerMenu > h2 {
    margin: 100px 0 50px 0; }
  .menus_wrapper .containerMenu--menu-variant1 {
    justify-content: flex-end; }
    .menus_wrapper .containerMenu--menu-variant1 > h2 {
      margin: 10px 0 0px 0; }
  .menus_wrapper .containerMenu > img {
    padding-top: 60px;
    width: 60px;
    height: 60px;
    margin: 0; }
  .menus_wrapper .containerMenu article {
    width: 100%; }
    .menus_wrapper .containerMenu article .articleTitle {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center; }
    .menus_wrapper .containerMenu article img {
      margin: 40px 0px 10px 0px;
      display: inline-block;
      vertical-align: middle;
      max-width: 30%;
      max-height: 30%; }
      @media screen and (max-width: 768px) {
        .menus_wrapper .containerMenu article img {
          max-width: 29%;
          max-height: 29%; } }
      @media screen and (max-width: 520px) {
        .menus_wrapper .containerMenu article img {
          max-width: 28%;
          max-height: 28%; } }
    .menus_wrapper .containerMenu article h3 {
      margin: 40px 0px 10px 0px;
      position: relative;
      text-align: center; }
      .menus_wrapper .containerMenu article h3::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        border-bottom: 1px solid black;
        transform: scale(0);
        transition-duration: 300ms;
        transition-timing-function: ease-out;
        transition-property: transform;
        transform-origin: bottom right; }
      .menus_wrapper .containerMenu article h3:hover::after {
        transform: scale(1);
        transform-origin: bottom left; }
    .menus_wrapper .containerMenu article ul {
      padding: 0;
      margin: 0; }
      .menus_wrapper .containerMenu article ul li {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin: 5px 0 10px 0;
        padding: 0;
        min-height: 36px; }
        @media screen and (max-width: 768px) {
          .menus_wrapper .containerMenu article ul li {
            text-align: center; } }
        @media screen and (max-width: 520px) {
          .menus_wrapper .containerMenu article ul li {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center; } }
        .menus_wrapper .containerMenu article ul li p {
          margin: 0;
          padding: 0; }

.typo__select-menu {
  color: black;
  text-align: center;
  font-weight: normal; }
  .typo__select-menu--menu1 {
    color: #3C1218; }
    .typo__select-menu--menu1 h3 {
      font-weight: lighter;
      margin: 3px;
      padding: 0;
      font-size: 1.5em;
      font-family: 'Devonshire-Regular', Arial, Serif; }
    .typo__select-menu--menu1 h2 {
      font-size: 2em;
      margin: 0;
      padding: 0;
      font-family: 'segoe-print', Arial, Serif;
      text-transform: uppercase; }
  .typo__select-menu--menu2 h3 {
    font-weight: lighter;
    font-family: 'CroissantOne-Regular', Arial, Serif;
    background-image: linear-gradient(45deg, #D8852E, #905BFD);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .typo__select-menu--menu2 h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    font-family: 'CasusPro-Bold', Arial, Serif;
    color: #D8852E; }
  .typo__select-menu--menu3 h3 {
    font-size: 1.7em;
    font-weight: lighter;
    font-family: 'DancingScript-Regular', Arial, Serif;
    background-image: linear-gradient(45deg, #0431DF, #0887FB);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .typo__select-menu--menu3 h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    font-family: 'segoe-print', Arial, Serif;
    color: #0887FB; }
  .typo__select-menu--menu4 h3 {
    font-size: 1.7em;
    font-weight: lighter;
    font-family: 'KaushanScript-Regular',Arial,Serif;
    background-image: linear-gradient(45deg, #3D9339, #BFFF7E);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent; }
  .typo__select-menu--menu4 h2 {
    font-size: 2em;
    margin: 0;
    padding: 0;
    font-family: 'segoe-print', Arial, Serif;
    color: #3D9339; }

.typo__menus__menu1 {
  font-family: 'segoe-print';
  font-weight: normal; }
  .typo__menus__menu1--title {
    font-family: 'Devonshire-Regular';
    font-size: 2.5em;
    font-weight: lighter; }
  .typo__menus__menu1--subheading {
    font-family: 'segoe-print';
    font-weight: bolder;
    font-size: 1.5em; }
  .typo__menus__menu1 ul > li > p:not(:first-child) {
    font-weight: bolder;
    font-size: 1.3em; }

.typo__menus__menu3 {
  font-family: 'segoe-print';
  font-weight: lighter; }
  .typo__menus__menu3--title {
    font-family: 'DancingScript-Regular';
    background-image: linear-gradient(45deg, #0431DF, #0887FB);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-size: 4em;
    font-weight: lighter; }
  .typo__menus__menu3--subheading {
    font-family: 'segoe-print';
    font-weight: lighter; }
  .typo__menus__menu3 ul > li > p:not(:first-child) {
    font-weight: lighter; }

.typo__footer {
  font-family: 'PatriciaGothic-SemiBold';
  color: #FDCB46;
  margin: 0;
  padding: 0; }

.typo__menuTitle {
  font-family: 'MYingHei-PRCW48W7'; }

.typo__soon {
  font-size: 1.6em;
  font-family: 'Stem-Regular';
  color: #FDCB46; }

#main_wrapper main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin: auto; }
  #main_wrapper main .containerGrid {
    width: 750px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; }
    @media screen and (max-width: 768px) {
      #main_wrapper main .containerGrid {
        width: 625px; } }
    @media screen and (max-width: 520px) {
      #main_wrapper main .containerGrid {
        width: 240px; } }
    #main_wrapper main .containerGrid__menu {
      display: flex;
      border: 1px solid black;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px #9E9E9E; }
      #main_wrapper main .containerGrid__menu a {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        text-decoration: none;
        z-index: 5; }
        #main_wrapper main .containerGrid__menu a ~ * {
          transition-duration: 200ms;
          transition-timing-function: ease-out;
          transition-property: all;
          transform: scale(1);
          opacity: 1; }
        #main_wrapper main .containerGrid__menu a:hover ~ * {
          transform: scale(1.13);
          opacity: 0.70; }
      #main_wrapper main .containerGrid__menu--note {
        background-color: #FCDFDB;
        width: 300px;
        height: 400px;
        margin: 30px; }
        #main_wrapper main .containerGrid__menu--note img {
          width: 45px;
          height: 45px; }
        @media screen and (max-width: 768px) {
          #main_wrapper main .containerGrid__menu--note {
            width: 250px;
            height: 333px;
            margin: 25px; } }
        @media screen and (max-width: 520px) {
          #main_wrapper main .containerGrid__menu--note {
            width: 200px;
            height: 266px;
            margin: 20px; } }
      #main_wrapper main .containerGrid__menu--chic {
        background-color: #F48FB1;
        width: 300px;
        height: 400px;
        margin: 30px; }
        @media screen and (max-width: 768px) {
          #main_wrapper main .containerGrid__menu--chic {
            width: 250px;
            height: 333px;
            margin: 25px; } }
        @media screen and (max-width: 520px) {
          #main_wrapper main .containerGrid__menu--chic {
            width: 200px;
            height: 266px;
            margin: 20px; } }
      #main_wrapper main .containerGrid__menu--delice {
        background-color: #90CAF9;
        width: 300px;
        height: 400px;
        margin: 30px; }
        @media screen and (max-width: 768px) {
          #main_wrapper main .containerGrid__menu--delice {
            width: 250px;
            height: 333px;
            margin: 25px; } }
        @media screen and (max-width: 520px) {
          #main_wrapper main .containerGrid__menu--delice {
            width: 200px;
            height: 266px;
            margin: 20px; } }
      #main_wrapper main .containerGrid__menu--palette {
        background-color: #A5D6A7;
        width: 300px;
        height: 400px;
        margin: 30px; }
        @media screen and (max-width: 768px) {
          #main_wrapper main .containerGrid__menu--palette {
            width: 250px;
            height: 333px;
            margin: 25px; } }
        @media screen and (max-width: 520px) {
          #main_wrapper main .containerGrid__menu--palette {
            width: 200px;
            height: 266px;
            margin: 20px; } }
#main_wrapper .containerSoon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 15%;
  margin-bottom: 90px; }
  #main_wrapper .containerSoon .soon {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    width: 250px;
    border-radius: 10px;
    background-color: #579C87; }
    #main_wrapper .containerSoon .soon p {
      margin: 0 0 0 27px;
      padding: 0; }
    #main_wrapper .containerSoon .soon p::after {
      display: inline-block;
      content: "\2026";
      margin: 0;
      padding: 0;
      overflow: hidden;
      vertical-align: bottom;
      width: 0px;
      animation-name: ellipsis-animation;
      animation-duration: 2000ms;
      animation-timing-function: steps(4, end);
      animation-iteration-count: infinite; }

.containerMenu--bg1 {
  background-color: #FCDFDB; }

.containerMenu--bg2 {
  background-color: #F48FB1; }

.containerMenu--bg3 {
  background-color: #90CAF9; }

.containerMenu--bg4 {
  background-color: #A5D6A7; }
