//variables mixins %placeholders
$extremity-colors:(
    header:#579C87,
    prochainement:#579C87,
    footer:#579C87,
);

$menu-bg-colors:(menu1:#FCDFDB,menu2:#FFF5FE,menu3:#F9F9F9,menu4:#FDFFFD);

$heights:( header:100px,main:1000px,footer:75px);