//main menu container soon animation
@keyframes ellipsis-animation {
    to {
        width: 1.2em;
    }
}
//animation for the footer
@keyframes wiggle-animation {
    0% {
        transform: rotate(0deg);
    }

    30% {
        transform: rotate(-2deg);
    }
    60% {
        transform: rotate(0deg);
    }
    90% {
        transform: rotate(2deg);
    }
    100% {
        transform: rotate(1deg);
    }
}
