//Blocks Elements Modifiers non reutilisables

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

h1,
h2,
h3,
ul,
li,
p{
    margin: 0;
    padding: 0;
    border: 0;
}
