//fonts and normes

//footer and soon font

//https://www.fontsquirrel.com/fonts/montserrat (montserrat light)
/*menu 1 title font: 
https://fonts.google.com/specimen/Devonshire?query=devonshire
https://www.fontzillion.com/fonts/studio-typo/typo-comics-demo?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=typocomicsdemo  (bold demp regular)
https://www.fontzillion.com/fonts/fontpanda/lara-prints?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=laraprints

menu 2 title font:
https://www.fontsquirrel.com/fonts/croissant-one?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=croissantone
https://www.fontsquirrel.com/fonts/el-messiri?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=elmessiri (el messiri bold)
https://www.fontzillion.com/fonts/arkandis-digital-foundry/aurelis-adf-no2-std?utm_source=fontsquirrel.com&utm_medium=matcherator_link&utm_campaign=aurelisadfno2std  (Aurelis ADF No2 Std Bold)
 
menu 3 title font:
https://fonts.google.com/specimen/Dancing+Script

menu 4 title font:

*/


@font-face {
    font-family: 'Montserrat-Light';
    src:url(../fonts/Montserrat-Light.otf) format('otf');
}
