//fonts and normes

//menu 1 title
@font-face {
    font-family: "Devonshire-Regular";
    src: url("../fonts/Devonshire-Regular.ttf");
}
//menu 1 , 3 and 4 Menu
@font-face {
    font-family: "segoe-print";
    src: url("../fonts/segoeprb.ttf");
}
//menu 2 title
@font-face {
    font-family: "CroissantOne-Regular";
    src: url("../fonts/CroissantOne-Regular.ttf");
}
//menu 2 menu
@font-face {
    font-family: "CasusPro-Bold";
    src: url("../fonts/CasusPro-Bold.ttf");
}
//menu 2 text
@font-face {
    font-family: "CasusPro-Light";
    src: url(../fonts/CasusPro-Light.ttf);
}

//menu 3 title
@font-face {
    font-family: "DancingScript-Regular";
    src: url("../fonts/DancingScript-Regular.ttf");
}
//menu 4 title
@font-face {
    font-family: "KaushanScript-Regular";
    src: url("../fonts/KaushanScript-Regular.ttf");
}

//footer font
@font-face {
    font-family: "PatriciaGothic-SemiBold";
    src: url(../fonts/PatriciaGothic-SemiBold.otf);
}

//menus titles
@font-face {
    font-family: "MYingHei-PRCW48W7";
    src: url(../fonts/MYingHei-PRCW48W7.ttf);
}

//soon font
@font-face {
    font-family: "Stem-Regular";
    src: url(../fonts/Stem-Regular.ttf);
}
