
.typo{
    &__select-menu{
    font-size: 1.3em;
    color:black;
    font-style: normal;
    text-align: center;
    
        &--menu1{
            color:map-get(map-get($menu-select-colors,menu1),color1);
           & h3{
            font-weight: lighter;
            margin:3px;
            padding:0;
            font-size:1.5em;
            font-family: 'Devonshire-Regular', Arial, Serif;
            
           }
           & h2{
            margin:0;
            padding:0;
            font-family:'segoe-print', Arial, Serif;
            text-transform: uppercase;

           }
        }
        &--menu2{
            & h3{
                font-weight: lighter;
                font-family: 'CroissantOne-Regular', Arial, Serif;
                @include text-gradient(45deg,map-get(map-get($menu-select-colors,menu2),sColor),map-get(map-get($menu-select-colors,menu2),eColor));
                
            }
            & h2{
                margin:0;
                padding:0;
                font-family: 'CasusPro-Bold', Arial, Serif;
                color:map-get(map-get($menu-select-colors,menu2),sColor);
            }
        }
        &--menu3{
            & h3{
                font-size: 1.7em;
                font-weight: lighter;
                font-family:'DancingScript-Regular', Arial, Serif;
                @include text-gradient(45deg,map-get(map-get($menu-select-colors,menu3),sColor),map-get(map-get($menu-select-colors,menu3),eColor));
            }
            & h2{
                margin:0;
                padding:0;
                font-family:'segoe-print', Arial, Serif;
                color:map-get(map-get($menu-select-colors,menu3),eColor);
            }
        }
        &--menu4{
            & h3{
                font-size: 1.7em;
                font-weight: lighter;
                font-family:'KaushanScript-Regular',Arial,Serif;
                @include text-gradient(45deg,map-get(map-get($menu-select-colors,menu4),sColor),map-get(map-get($menu-select-colors,menu4),eColor));
            }
            & h2{
                margin:0;
                padding:0;
                font-family:'segoe-print', Arial, Serif;
                color:map-get(map-get($menu-select-colors,menu4),sColor);
            }
        }
    }

    &__footer{
        font-family: 'PatriciaGothic-SemiBold';
        color:$main-text-color;
        margin:0;
        padding:0;
    }
    &__menuTitle{
        font-family:'MYingHei-PRCW48W7';
    }
    &__soon{
        font-size: 1.6em;
        font-family:'Stem-Regular';
        color: $main-text-color;
    }
}